python/
*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!website/**/*.js
dist/
imports/*
!imports/__init__.py
.terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*
node_modules
lambdas/**/lambda.zip
lambdas/**/libs
.env.local
coverage
PIL
Pillow*
*.dist-info
*.solved.ts
